body {
    background: #e9eaed;
    font-family: "微軟正黑體Bold", "Microsoft JhengHei", sans-serif;
    margin: 0;
    width: 1501px;
    margin: 0 auto;
}

header {
    background-color: #336699;
    height: 43px;
    margin: 0 auto;
    position: fixed;

}

section {
    padding-top: 53px;
    width: 1200px;
    margin: 0 auto;
}
.post {
    width: 475px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 13px;
    padding-bottom: 10px;
    background-color: #ffffff;
    float: left;
}
.post p {
    margin-top: 15px;
    padding-bottom: 15px;
}

.post a {
    color: #4769aa;
    margin-left: 10px; 
    font-size: 14px;
    font-style:normal;
    font-weight: bold;
    text-decoration: none;
}

.post-head {
    padding-top: 10px;
}
.post-head-img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url(image/postor.png);
}
.post-head {
    
}


.post-head-name {
    margin-top: 3px;
    width: 427px;
    float: left;
}
.post-content {
    float: left;
}

.post-content p {
    color: #1d2129;
    font-size: 12sp;
    font-weight: bold;
    line-height: 21px;
}

.shard-content {
    float: left;
    margin-left: 8px;
    color: #9297a1;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
}

.post-head-name div{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    width: 129px;
    height: 12px;
    background-image: url(image/post-status.png);
}

#main-content {
    width: 1501px;
}

#left-column {
    float: left;
}
#post-status {
    float: left;
    margin-left: 15px;
}
#right-column {
    float: left;
    margin-left: 15px;
}
#posts img{
    float: none;
    margin-top: 10px;
}

#cover-image {
    margin-left: 15px;
    margin-bottom: 15px
}
#postor-link {
    color: #365899;
    font-size: 15px;
    font-weight: bold;
}

#postor-text {
    color: #9fa3a9;
    font-size: 14px;
    font-weight: normal;
}

#post-share-img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url(image/post-share.png);
}