body {
    background: #e9eaed;
    font-family: "微軟正黑體Bold", "Microsoft JhengHei", sans-serif;
    margin: 0;
    width: 1501px;
    margin: 0 auto;
}

header {
    background-color: #336699;
    height: 43px;
    margin: 0 auto;
    position: fixed;

}

section {
    padding-top: 53px;
    width: 1200px;
    margin: 0 auto;
}
.post {
    width: 475px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 13px;
    padding-bottom: 10px;
    background-color: #ffffff;
    float: left;
}
.post p {
    margin-top: 15px;
    padding-bottom: 15px;
}

.post a {
    color: #4769aa;
    margin-left: 10px; 
    font-size: 14px;
    font-style:normal;
    font-weight: bold;
    text-decoration: none;
}

.post-head {
    padding-top: 10px;
}
.post-head-img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url(image/postor.png);
}

.post-head-img-seemore {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url(image/post-share.png);
}

.post-head {
    
}


.post-head-name {
    margin-top: 3px;
    width: 427px;
    float: left;
}
.post-content {
    float: left;
    width: 489px
}

.post-content p {
    color: #1d2129;
    font-size: 12sp;
    font-weight: bold;
    line-height: 21px;
}

.shard-content {
    float: left;
    margin-left: 8px;
    color: #9297a1;
    font-size: 15px;
    font-weight: bold;
    line-height: 21px;
}

.post-head-name div{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    width: 105px;
    height: 10px;
    background-image: url(image/post-status.png);
}

.post-comment {
    margin-top: 5px;
    padding-left: 50px;
    line-height: 20px;
}


#main-content {
    width: 1501px;
}

#left-column {
    float: left;
}
#post-status {
    float: left;
    margin-left: 15px;
}

#post-status2 {
    float: left;
    margin-left: 187px;
}

#right-column {
    float: left;
    margin-left: 15px;
}
#posts img{
    float: none;
    margin-top: 10px;
}

#cover-image {
    margin-left: 15px;
    margin-bottom: 15px
}
#postor-link {
    color: #365899;
    font-size: 15px;
    font-weight: bold;
}

#postor-text {
    color: #9fa3a9;
    font-size: 14px;
    font-weight: normal;
}

#post-share-img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-image: url(image/post-share.png);
}

#reply-like {
    margin-top: 6px;
    color: #3b5998;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

#reply-date {
    color: #838383;
    font-size: 14px;
    font-weight: bold;
}

#post-comment-img1 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user1.png);
}
#post-comment-img2 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user2.png);
}
#post-comment-img3 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user3.png);
}
#post-comment-img4 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user4.png);
}
#post-comment-img5 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user5.png);
}
#post-comment-img6 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user6.png);
}
#post-comment-img7 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user7.png);
}
#post-comment-img8 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user8.png);
}
#post-comment-img9 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user9.png);
}
#post-comment-img10 {
    float: left;
    width: 34px;
    height: 34px;
    margin-right: 8px;
    margin-top: 8px;
    background-image: url(image/comment-profile/user10.png);
}

#see-more {
    width: 100px; 
    font-size: 15px;
    font-weight: bold;
    float: inherit
}

#share-image-text {
    padding-left: 16px;
    padding-bottom: 0px;
    font-size: 17px;
    color: #000000;
}

#share-image-locat {
    padding-left: 20px;
    padding-bottom: 0px;
    color: #93949f;
}
#comment-container {
    font-size: 14px;
}